<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Raina's Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
    <nav>
      <section id="header">
      <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="{% url 'home' %}">
            <img src="{% static 'images/logo.png' %}" class="brand-logo">
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'skills' %}">Skills</a></li>
            <li><a href="{% url 'projects' %}">Projects</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
          </ul>
        </div>
      </div>
      </div>  
    </nav>
  </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
