{% extends 'portfolio/base.html' %}

{% block title %}
Raina's Portfolio - About
{% endblock %}

{% block content %}
{% load static %}

<section id="contact">
    <div class="contact container">
      <div>
        <h1 class="section-title">Contact <span>info</span></h1>
      </div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" /></div>
          <div class="contact-info">
            <h1>Phone</h1>
            <h2>+63 653890061</h2>
            <h2>+63 352989383</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png" /></div>
          <div class="contact-info">
            <h1>Email</h1>
            <h2>guindayraina@gmail.com</h2>
            <h2>raiguinday@gmail.com</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" /></div>
          <div class="contact-info">
            <h1>Address</h1>
            <h2>259 Ligas 2, Bacoor Cavite</h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
        <img src="img/logo.png" class="brand-logo"> 
      </div>
      <h2>Your Complete Web Solution</h2>
      <div class="social-icon">
        <div class="social-item">
          <a href="https://www.facebook.com/ishabols" target="_blank">
            <img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" />
        </a>
        
        </div>
        <div class="social-item">
          <a href="https://www.instagram.com/weyynabel/profilecard/?igsh=anAydWJyMzhucTcx&fbclid=IwY2xjawGfp0VleHRuA2FlbQIxMAABHeXkGycsQICmEGsxdR5AQYOLSZrZ3MHIHdDksd7Tpg7l3e-fzsJhsz-_0Q_aem_qpKWVZ8a83_mqXKz__clqw" target="_blank">
            <img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
        </div>
      </div>
      <p>Copyright © 2024 Rai. All rights reserved</p>
    </div>
  </section>
  <!-- End Footer -->
{% endblock %}
