{% extends 'portfolio/base.html' %}

{% block title %}
Raina's Portfolio - Projects
{% endblock %}

{% block content %}
{% load static %}

<!-- Projects Section -->
<section id="projects">
    <section class="skills" id="skills">
        <h1 class="section-title">Pro<span>jects</span></h1>

        <div class="p-container">
            <input type="radio" name="slider" id="s1" checked />
            <input type="radio" name="slider" id="s2" />
            <input type="radio" name="slider" id="s3" />
            <input type="radio" name="slider" id="s4" />
            <input type="radio" name="slider" id="s5" />
            <div class="cards">
                <label for="s1" id="slide1">
                    <div class="card">
                        <div class="image">
                            <img src="{% static 'images/projects/POSS.png' %}" alt="sonic" />
                            <div class="dots">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                        <div class="infos">
                            <span class="name">Point of Sales</span>
                            <span class="lorem">A Point of Sales appplication for a small business called Ynah's
                                Kitchenette. The system we designed for the client helps their business efficiently
                                track records of their capital and profits. </span>

                            <div class="actions">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <i class="fa-regular fa-heart"></i>
                                <i class="fa-regular fa-bookmark"></i>
                                <i class="fa-solid fa-share-nodes"></i>
                            </div>
                        </div>
                    </div>
                </label>

                <label for="s2" id="slide2">
                    <div class="card">
                        <div class="image">
                            <img src="{% static 'images/projects/aether.jpg' %}" alt="sonic" />
                            <div class="dots">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                        <div class="infos">
                            <span class="name">Aether Resides</span>
                            <span class="lorem">
                                A Booking Registration System for Aether Resides. It helps the business owners to record
                                the transactions, and keep track of incoming clients.</span>

                            <div class="actions">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <i class="fa-regular fa-heart"></i>
                                <i class="fa-regular fa-bookmark"></i>
                                <i class="fa-solid fa-share-nodes"></i>
                            </div>
                        </div>
                    </div>
                </label>

                <label for="s3" id="slide3">
                    <div class="card">
                        <div class="image">
                            <img src="{% static 'images/projects/chess.png' %}" alt="sonic" />
                            <div class="dots">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                        <div class="infos">
                            <span class="name">Chess Game</span>
                            <span class="lorem">A Chess game application with a log-in and sign-up feature. The users
                                need to provide a valid email, username, and password.
                                It has a Single Player and Multiplayer mode. </span>

                            <div class="actions">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <i class="fa-regular fa-heart"></i>
                                <i class="fa-regular fa-bookmark"></i>
                                <i class="fa-solid fa-share-nodes"></i>
                            </div>
                        </div>
                    </div>
                </label>

                <label for="s4" id="slide4">
                    <div class="card">
                        <div class="image">
                            <img src="{% static 'images/projects/cvsu.jpg' %}" alt="sonic" />
                            <div class="dots">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                        <div class="infos">
                            <span class="name">CVSU Website</span>
                            <span class="lorem">A school website that shows the programs and organizations of the
                                school.</span>

                            <div class="actions">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <i class="fa-regular fa-heart"></i>
                                <i class="fa-regular fa-bookmark"></i>
                                <i class="fa-solid fa-share-nodes"></i>
                            </div>
                        </div>
                    </div>
                </label>

                <label for="s5" id="slide5">
                    <div class="card">
                        <div class="image">
                            <img src="{% static 'images/projects/lebug.jpg' %}" alt="sonic" />
                            <div class="dots">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                        <div class="infos">
                            <span class="name">Lè. Bug IT Company</span>
                            <span class="lorem">An IT Company Website showcasing services. Where bugs meet their
                                match.</span>

                            <div class="actions">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <i class="fa-regular fa-heart"></i>
                                <i class="fa-regular fa-bookmark"></i>
                                <i class="fa-solid fa-share-nodes"></i>
                            </div>
                        </div>
                    </div>
                </label>
            </div>
            <a href="{% url 'projects1' %}">
                <button class="view-more-button">View More Projects</button>
            </a>
        </div>
        </div>
    </section>
    {% endblock %}