{% extends 'portfolio/base.html' %}

{% block title %}
Raina's Portfolio - Skills
{% endblock %}

{% block content %}
<!-- Skills Section -->
<section class="skills" id="skills">
  <h1 class="section-title">ski<span>lls</span></h1>
  <div class="sk-wrapper">
      <div class="content">
          <h1>Language</h1>
          <div class="box box1">
              <div class="single-skill">
                  <span class="topic">HTML</span>
                  <span class="topic">90%</span>
              </div>
              <div class="bar-side">
                  <div class="bar bar-1"></div>
              </div>
              <div class="single-skill">
                  <span class="topic">CSS</span>
                  <span class="topic">80%</span>
              </div>
              <div class="bar-side">
                  <div class="bar bar-2"></div>
              </div>
              <div class="single-skill">
                  <span class="topic">PHP</span>
                  <span class="topic">70%</span>
              </div>
              <div class="bar-side">
                  <div class="bar bar-3"></div>
              </div>
              <div class="single-skill">
                <span class="topic">JavaScript</span>
                <span class="topic">50%</span>
              </div>
              <div class="bar-side">
                  <div class="bar bar-4"></div>
              </div>
          </div>
      </div>
  </div>
</section>
{% endblock %}
